<div class="container-fluid no-breadcrumbs">
  <form [formGroup]="validationForm">

    <mat-card>

      <mat-card-title>
        <h6>บันทึกข้อมูลลูกค้า</h6>
      </mat-card-title>

      <mat-card-content>

        <div class="row">

          <div class="col-sm-12 customer-box">

            <div class="row">
              <div class="col-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="ชื่อลูกค้า *" aria-label="customerName"
                    [matAutocomplete]="autoCustomerName" formControlName="cust_name" name="cust_name"
                    [(ngModel)]="model.cust_name">
                  <button mat-button *ngIf="model.cust_name" matSuffix mat-icon-button aria-label="Clear"
                    type="button" (click)="model.name = ''">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-autocomplete #autoCustomerName="matAutocomplete" autoActiveFirstOption
                    name="matAutocomplete_customerName">
                    <!-- <mat-option *ngFor="let x of filteredCustomerByName | async" [value]="x.name"
                      (onSelectionChange)="customerSelected(x)" class="autoComplete-option"> -->

                      <mat-option *ngFor="let x of filteredCustomerByName | async" [value]="x.cust_name"
                       class="autoComplete-option">

                      <div class="row">

                        <div class="col-6">
                          <small>ชื่อลูกค้า</small>
                          <dd class="highlight-auto-complete" [innerHTML]="x.cust_name | highlight: toHighlight"></dd>
                        </div>

                        <div class="col-6">
                          <small>เบอร์โทร</small>
                          <dd>{{x.tel}}</dd>
                        </div>

                      </div>

                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-error class="error-message"
                  *ngIf="validationForm.get('cust_name').hasError('required') && (validationForm.get('cust_name').dirty || validationForm.get('cust_name').touched)">
                  โปรดระบุข้อมูล
                </mat-error>
              </div>
              <div class="col-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="เบอร์โทร *" aria-label="tel" [matAutocomplete]="autotel"
                    formControlName="tel" name="tel" [(ngModel)]="model.tel">
                  <button mat-button *ngIf="model.tel" matSuffix mat-icon-button aria-label="Clear" type="button"
                    (click)="model.tel = ''">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-autocomplete #autotel="matAutocomplete" autoActiveFirstOption name="matAutocomplete_tel">
                    <mat-option *ngFor="let x of filteredCustomerByTel | async" [value]="x.tel"
                      (onSelectionChange)="customerSelected(x)" class="autoComplete-option">

                      <div class="row">

                        <div class="col-6">
                          <small>ชื่อลูกค้า</small>
                          <dd>{{x.cust_name}}</dd>
                        </div>

                        <div class="col-6">
                          <small>เบอร์โทร</small>
                          <dd class="highlight-auto-complete" [innerHTML]="x.tel | highlight: toHighlight"></dd>
                        </div>

                      </div>

                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-error class="error-message"
                  *ngIf="validationForm.get('tel').hasError('required') && (validationForm.get('tel').dirty || validationForm.get('tel').touched)">
                  โปรดระบุข้อมูล
                </mat-error>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="ที่อยู่ *" formControlName="address1"
                    [(ngModel)]="model.address1" name="addressName"></textarea>
                </mat-form-field>
                <mat-error class="error-message"
                  *ngIf="validationForm.get('address1').hasError('required') && (validationForm.get('address1').dirty || validationForm.get('address1').touched)">
                  โปรดระบุข้อมูล
                </mat-error>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="แขวง/ตำบล *" aria-label="subDistrict" [matAutocomplete]="autosubDistrict"
                    formControlName="subDistrict" name="subDistrict" [(ngModel)]="model.subDistrict">
                  <button mat-button *ngIf="model.subDistrict" matSuffix mat-icon-button aria-label="Clear"
                    type="button" (click)="model.subDistrict = ''">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-autocomplete #autosubDistrict="matAutocomplete" autoActiveFirstOption
                    name="matAutocomplete_subDistrict">
                    <mat-option *ngFor="let x of filteredAddressBySubDistrict | async" [value]="x.subDistrict"
                      (onSelectionChange)="addressSelected(x)" class="autoComplete-option">

                      <div class="row">

                        <div class="col-6">
                          <small>ตำบล/แขวง</small>
                          <dd class="highlight-auto-complete" [innerHTML]="x.subDistrict | highlight: toHighlight"></dd>
                        </div>

                        <div class="col-6">
                          <small>เขต/อำเภอ</small>
                          <dd>{{x.district}}</dd>
                        </div>

                      </div>
                      <div class="row">

                        <div class="col-6">
                          <small>จังหวัด</small>
                          <dd>{{x.province}}</dd>
                        </div>

                        <div class="col-6">
                          <small>รหัสไปรษณีย์</small>
                          <dd>{{x.zipcode}}</dd>
                        </div>

                      </div>

                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-error class="error-message"
                  *ngIf="validationForm.get('subDistrict').hasError('required') && (validationForm.get('subDistrict').dirty || validationForm.get('subDistrict').touched)">
                  โปรดระบุข้อมูล
                </mat-error>
              </div>
              <div class="col-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="เขต/อำเภอ *" aria-label="district" [matAutocomplete]="autodistrict"
                    formControlName="district" name="district" [(ngModel)]="model.district">
                  <button mat-button *ngIf="model.district" matSuffix mat-icon-button aria-label="Clear" type="button"
                    (click)="model.district = ''">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-autocomplete #autodistrict="matAutocomplete" autoActiveFirstOption
                    name="matAutocomplete_district">
                    <mat-option *ngFor="let x of filteredAddressByDistrict | async" [value]="x.district"
                      (onSelectionChange)="addressSelected(x)" class="autoComplete-option">

                      <div class="row">

                        <div class="col-6">
                          <small>ตำบล/แขวง</small>
                          <dd>{{x.subDistrict}}</dd>
                        </div>

                        <div class="col-6">
                          <small>เขต/อำเภอ</small>
                          <dd class="highlight-auto-complete" [innerHTML]="x.district | highlight: toHighlight"></dd>
                        </div>

                      </div>
                      <div class="row">

                        <div class="col-6">
                          <small>จังหวัด</small>
                          <dd>{{x.province}}</dd>
                        </div>

                        <div class="col-6">
                          <small>รหัสไปรษณีย์</small>
                          <dd>{{x.zipcode}}</dd>
                        </div>

                      </div>

                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-error class="error-message"
                  *ngIf="validationForm.get('district').hasError('required') && (validationForm.get('district').dirty || validationForm.get('district').touched)">
                  โปรดระบุข้อมูล
                </mat-error>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="จังหวัด *" aria-label="province" [matAutocomplete]="autoprovince"
                    formControlName="province" name="province" [(ngModel)]="model.province">
                  <button mat-button *ngIf="model.province" matSuffix mat-icon-button aria-label="Clear" type="button"
                    (click)="model.province = ''">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-autocomplete #autoprovince="matAutocomplete" autoActiveFirstOption
                    name="matAutocomplete_province">
                    <mat-option *ngFor="let x of filteredAddressByProvince | async" [value]="x.province"
                      (onSelectionChange)="addressSelected(x)" class="autoComplete-option">

                      <div class="row">

                        <div class="col-6">
                          <small>ตำบล/แขวง</small>
                          <dd>{{x.subDistrict}}</dd>
                        </div>

                        <div class="col-6">
                          <small>เขต/อำเภอ</small>
                          <dd>{{x.district}}</dd>
                        </div>

                      </div>
                      <div class="row">

                        <div class="col-6">
                          <small>จังหวัด</small>
                          <dd class="highlight-auto-complete" [innerHTML]="x.province | highlight: toHighlight"></dd>
                        </div>

                        <div class="col-6">
                          <small>รหัสไปรษณีย์</small>
                          <dd>{{x.zipcode}}</dd>
                        </div>

                      </div>

                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-error class="error-message"
                  *ngIf="validationForm.get('province').hasError('required') && (validationForm.get('province').dirty || validationForm.get('province').touched)">
                  โปรดระบุข้อมูล
                </mat-error>
              </div>
              <div class="col-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="รหัสไปรษณีย์ *" aria-label="zipCode" [matAutocomplete]="autozipCode"
                    formControlName="zipCode" name="zipCode" [(ngModel)]="model.zipCode">
                  <button mat-button *ngIf="model.zipCode" matSuffix mat-icon-button aria-label="Clear" type="button"
                    (click)="model.zipCode = ''">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-autocomplete #autozipCode="matAutocomplete" autoActiveFirstOption name="matAutocomplete_zipCode">
                    <mat-option *ngFor="let x of filteredAddressByZipCode | async" [value]="x.zipcode"
                      (onSelectionChange)="addressSelected(x)" class="autoComplete-option">

                      <div class="row">

                        <div class="col-6">
                          <small>ตำบล/แขวง</small>
                          <dd>{{x.subDistrict}}</dd>
                        </div>

                        <div class="col-6">
                          <small>เขต/อำเภอ</small>
                          <dd>{{x.district}}</dd>
                        </div>

                      </div>
                      <div class="row">

                        <div class="col-6">
                          <small>จังหวัด</small>
                          <dd>{{x.province}}</dd>
                        </div>

                        <div class="col-6">
                          <small>รหัสไปรษณีย์</small>
                          <dd class="highlight-auto-complete" [innerHTML]="x.zipcode | highlight: toHighlight"></dd>
                        </div>

                      </div>

                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-error class="error-message"
                  *ngIf="validationForm.get('zipCode').hasError('required') && (validationForm.get('zipCode').dirty || validationForm.get('zipCode').touched)">
                  โปรดระบุข้อมูล
                </mat-error>
              </div>
            </div>

          </div>

        </div>

      </mat-card-content>

    </mat-card>

    <div class="form-action">

      <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
        <mat-icon class="material-icons">close</mat-icon> ปิด
      </button>

      <button mat-raised-button color="primary" class="btn-w-md pull-right" type="button" (click)="save()">
        <mat-icon class="material-icons">save</mat-icon> บันทึกข้อมูล
      </button>

    </div>

  </form>
</div>
